# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
.env
*.sqlite3
alembic/versions/*.pyc
alembic/versions/__pycache__/
.pytest_cache/
.coverage
htmlcov/
.DS_Store
*.log
*.tmp
*.temp
*.bak
*.db
*.sqlite
*.sqlite-journal
*.pid
*.lock
*.swp
*.swo
.idea/
.vscode/
